<body>
    <div class="w3-card">    
        <form class="w3-container" action="/users/inicio" method="POST">
            <div class="w3-section">
                <label><b>Username</b></label>
                <input class="w3-input w3-border" type="text" placeholder="Enter Username" name="usr" required>
                <br>
                <label><b>Password</b></label>
                <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" required>
                <br>
                <button class="w3-button w3-block w3-green w3-padding" type="submit">Login</button>
                <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
            </div>
        </form>
    </div>
</body>
