<!DOCTYPE html>
<html lang="en">
<body>
    <div class="w3-container w3-margin-top">
        <p><b><a class="w3-button w3-block w3-blue" href="/users/crear-usuario">crear usuario</a></b></p>
        <p><b><a class="w3-button w3-block w3-blue" href="/users/alumno">Alumnos</a></b></p>
        <p><b><a class="w3-button w3-block w3-blue" href="/users/profesor">Profesores</a></b></p>
        <p><b><a class="w3-button w3-block w3-blue" href="/users/curso">Cursos</a></b></p>

    </div>
</body>
</html>