<!DOCTYPE html>
<html>

<body>
{{#each listado}}
    <form action="/users/delete" method="POST" class="w3-container w3-card-2 w3-light-grey w3-text-blue">
        <h2 class="w3-center">Estas seguro de retirar al alumno?</h2>    
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-id-card-o"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="doc_id" type="number" value="{{alumno_doc}}" readonly="readonly">
            </div>
        </div>
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="nom_ape" type="text" value="{{alumno_nombre}}">
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-col s6"><button type="submit" class="w3-button w3-section w3-blue w3-block"> SI </button></div>
            <div class="w3-col s6"><a href="/users/alumno" class="w3-button w3-section w3-blue w3-block"> NO </a></div>
        </div>

    </form>
{{/each}}
</body>

</html>